<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="Pearson.PSC_tk9qhwb5jzw48!App" />
    <add key="WindowName" value="Pearson System of Courses" />
    <add key="SmallWaitTime" value="10000" />
    <add key="MediumWaitTime" value="20000" />
    <add key="LargeWaitTime" value="30000" />
    <add key="AppVersion" value="1.6.0.1556" />
    <add key="CachingServer" value="Unavailable" />
    <add key="ConfigCode" value="ccsocdct" />
    <add key="WaitTimeMultiplier" value="1" />
    <add key="LogFilePath" value="C:\AutomationLogFiles\"/>
    <add key="AppProcessName" value="Pearson.PSC.Win8"/>
    <add key="WebZipFilePath" value="https://ccsocios.blob.core.windows.net/psc/1.6/212-win/212-Win8-Xamarin.zip"/>
    <add key="LocalZipFilePath" value="C:\LatestipaFiles\zips\212-Win8-Xamarin.zip"/>
    <add key="LocalBuildFolderPath" value="C:\LatestipaFiles\zips\212-Win8-Xamarin\"/>
  </appSettings> 
</configuration>