<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="Pearson.PSC.K1-develop-1.6.0.1947_tk9qhwb5jzw48!App" />
    <add key="WindowName" value="Pearson System of Courses" />
    <add key="SmallWaitTime" value="10000" />
    <add key="MediumWaitTime" value="20000" />
    <add key="LargeWaitTime" value="30000" />
    <add key="WaitTimeMultiplier" value="1" />
    <add key="LogFilePath" value="C:\AutomationLogFiles\"/>
    <add key="SchoolName" value="Jacob L. Martin High"/>
    <add key="SchoolName2" value="Charles Curtis Middle"/>
    <add key="AppProcessName" value="Pearson.PSCK1.WindowsStore"/>
    <add key="LogFilePath" value="C:\AutomationLogFiles\"/>
    <add key="WebZipFilePath" value="https://ccsocios.blob.core.windows.net/psc/1.6/k1-win/K1-Win8-Xamarin.zip"/>
    <add key="LocalZipFilePath" value="C:\LatestipaFiles\zips\K1-Win8-Xamarin.zip"/>
    <add key="LocalBuildFolderPath" value="C:\LatestipaFiles\zips\K1-Win8-Xamarin\"/>
    <add key="SchoolName" value="PSOCElem"/>
    <add key="SchoolName2" value="PSOCElem"/>
  </appSettings> 
</configuration>